.navbar {
  background-color: #333;
  position: fixed;
  top: 5;
  width: 100%; 
  z-index: 100;
}

/* Links inside the navbar */
.navbar a {
  float: left;
  font-size: 16px;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

/* The dropdown container */
.dropdown {
  float: left;
  overflow: hidden;
}

/* Dropdown button */
.dropdown .dropbtn {
  font-size: 16px;
  border: none;
  outline: none;
  color: white;
  padding: 14px 16px;
  background-color: inherit;
  font-family: inherit; /* Important for vertical align on mobile phones */
  margin: 0; /* Important for vertical align on mobile phones */
}


.navbar a:hover, .dropdown:hover .dropbtn {
  background-color: #1bc2f0;
}

.navbar a:hover {
    color: #ddd;
    background-color: #1bc2f0;
  }

.navbar a.active {
    background-color: #1bc2f0;
    color: white;
  }

/* Dropdown content (hidden by default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}


.dropdown-content a {
  float: none;
  color: #333;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  text-align: left;
}


.dropdown-content a:hover {
  background-color: #ddd;
  color: #333;
}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

  table {
    border-collapse: collapse;
    width: 100%;
  }

    table, th, td {
      border:1px solid black;

    }
    .container {
  position: relative;
  width: 50%;
}

.image {
  display: block;
  width: 100%;
  height: auto;
}

.overlay {
  position:initial;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  height: 100%;
  width: 100%;
  opacity: 0;
  transition: .5s ease;
  
}

.container:hover .overlay {
  opacity:initial;
}

.text {
  color: white;
  font-size: 35px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  text-align: center;
}

.container {
width: 50%;
height: 600;
}

.SeaCreatures {
  display: flex;
  flex-wrap: wrap;
}

footer {
  text-align: center;
  padding: 3px;
  background-color: #333;
  color: #1bc2f0;
}

.drop2 {
  width: 12%;
  height: auto;
  float: left;
}

.hr {
  display:block;
   margin-left: 15%;
   margin-right: 15%;
   border-style: inset;
  border-width: 1px;
  width: min-content;
}

.f {
  display: flex;
}

.about {
  width: 40%;
}

.cu {
  width: 1000px;
}

.HL {
  font-size: larger;
}

.t {
  margin-left: 15%;
  margin-right: 15%;
}

.eco {
  width: 300px;
  float: left;
}

h1{
  text-align: center;
}